<h2 class="text-center m-5">Sign up</h2>
<section class="col-8 offset-2 col-sm-6 offset-sm-3">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control m-2'  %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control m-2'  %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control m-2'  %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'btn btn-primary m-2'  %>
  </div>
<% end %>
<hr>
<%= render "users/shared/links" %>
</section>